input {
  border: 1px solid black;
  padding: 0.3rem 0.5rem 0.3rem 0.5rem;
  outline: none;
}

.page {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  width: 30%;
  height: 80%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 2rem 0.4rem black;
}
.login-card > h1 {
  position: absolute;
  top: 3%;
}
.login-card > input {
  width: 67%;
}
.login-card > button {
  padding: 0.3rem 0.5rem 0.3rem 0.5rem;
}
.full-name {
  width: 80%;
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}
.full-name > input {
  width: 40%;
}
.departments{
  width: 70%;
  display: none;
}
.actionbutton{
  width: 50%;
}